@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.App {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: white;

}


.left-container {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 550px;
  padding: 20px 45px;
  display: flex;
  background-color: transparent;
  z-index: 10;


}

.rating {
  margin: 0;
  color: #4caf50;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 40px;

}

.interviewer-name {
  margin: 0;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 30px;

}

.interviewer-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: semi-bold;
  font-size: larger;
}

.interviewer-bio {
  text-align: justify;
}

.btn {
  margin-top: 20px;
  padding: 10px 40px;
  border: none;
  color: white;
  font-weight: 500;
  box-shadow: 0px 0px 40px 0px rgba(76, 175, 80, 5);
  background-color: rgb(96, 155, 108);
}

.right-lower {
  position: absolute;
  top: -650px;
  right: -120px;
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  box-sizing: border-box;
}

.interviewer-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #4caf50;
  transform: translate(-50%, 50%);
  z-index: 10;

}


.curr-interviewer-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.slider-name {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 50%;
  width: 285px;
  height: 75px;
  text-align: center;
  color: black;
  border-radius: 15px;
  background-color: #d4efd5;
  transform: translate(-50%, 270%);
  z-index: 11;



}

.curr-interviewer-name {
  margin: 0%;
  padding: 0%;
  font-weight: bold;

}


.right-upper {
  position: absolute;
  top: -620px;
  right: -120px;
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 5;
  background-color: #82c785;
}

.img-border {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 600px;
  height: 600px;
  border-radius: 70%;
  border: 3px dashed #666866;
  transform: translate(-50%, 50%);
  z-index: 6;
}

.interviewer {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aqua;
  transition: all 0.5s ease-in-out;
}

.interviewer-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transform: rotate(90deg);
}

.img-border-overlay {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  z-index: 4;
}

.img-border-inner-left {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 0%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(96, 155, 108);

}

.img-border-inner-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background-color: rgb(96, 155, 108);

}

.arrow-down {
  width: 50%;
  height: 50%;
  color: 'white';

}